<table class="table is-fullwidth">
    <thead>
        <tr class="is-primary">
            <th>ID</th>
            <th>Name</th>
            <th>Username</th>
            <th>Phone</th>
            <th>Website</th>
        </tr>    
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{user.id}}</td>
            <td>{{user.name}}</td>
            <td>{{user.username}}</td>
            <td>{{user.phone}}</td>
            <td>{{user.website}}</td>
        </tr>
    </tbody>
</table>

<br>

<div class="container" *ngIf="is_beign_adding_user">
    <app-user-form (emmiter)="add_user_or_hide_form($event)"></app-user-form>
</div>

<button class="button is-success is-dark" *ngIf="!is_beign_adding_user" (click)="init_add_user_process()">Añadir Usuario</button>