<div class="field">
    <label for="" class="label">Name</label>
    <div class="control">
        <input type="text" class="input" name="name">
    </div>
</div>
<div class="field">
    <label for="" class="label">Username</label>
    <div class="control">
        <input type="text" class="input" name="username">
    </div>
</div>
<div class="field">
    <label for="" class="label">Phone</label>
    <div class="control">
        <input type="text" class="input" name="phone">
    </div>
</div>
<div class="field">
    <label for="" class="label">Website</label>
    <div class="control">
        <input type="text" class="input" name="website">
    </div>
</div>

<div class="field is-grouped">
    <div class="control">
        <button class="button is-success is-dark">Aceptar</button>
    </div>
    <div class="control">
        <button class="button is-danger is-dark">Cancelar</button>
    </div>
</div>