
    <div class="field">
        <label for="name" class="label">Name</label>
        <div class="control">
            <input type="text" class="input" name="name" placeholder="name">
        </div>
    </div>

    <div class="field">
        <label for="username" class="label">Username</label>
        <div class="control">
            <input type="text" name="username" id="" class="input" placeholder="Username">
        </div>
    </div>

    <div class="field">
        <label for="phone" class="label">Phone</label>
        <input type="text" name="phone" id="" class="input" placeholder="phone">
    </div>
    <div class="field">
        <label for="website" class="label">Website</label>
        <input type="text" name="website" id="" class="input" placeholder="website">
    </div>

    <div class="field is-grouped">
        <div class="control">
            <button class="button is-success is-dark">Enviar</button>
        </div>
        <div class="control">
            <button class="button is-danger is-dark">Cancelar</button>
        </div>
    </div>
