<div class="field">
    <label class="label">Name</label>
    <div class="control">
        <input type="text" name="name" id="name" class="input" [(ngModel)]="user.name" placeholder="Name">
    </div>
</div>

<div class="field">
    <label for="Username" class="label">Username</label>
    <div class="control">
        <input type="text" name="username" id="username" class="input" [(ngModel)]="user.username" placeholder="username">
    </div>
</div>

<div class="field">
    <label for="phone" class="label">Phone</label>
    <div class="control">
        <input type="text" name="phone" id="phone" class="input" [(ngModel)]="user.phone" placeholder="Phone number">
    </div>
</div>

<div class="field">
    <label for="website" class="label">Website</label>
    <div class="conotrol">
        <input type="text" name="webiste" id="website" class="input" [(ngModel)]="user.website" placeholder="website">
    </div>
</div>

<div class="field is-grouped">
    <div class="control">
        <button class="button is-link is-dark" (click)="send_user()">Añadir</button>
    </div>
    <div class="control">
        <button class="button is-danger is-dark" (click)="cancel()">Cancelar</button>
    </div>
</div>
